.common {
  border-collapse: collapse;
  border: 1px solid white;
}

.tableData {
  composes: common;
  padding: 5px;
  background-color: #96d4d4;
}

.tableDataTextarea {
  width: 100%;
  resize: none;
}
.btn {
  display: block;
  padding: 3px;
  transition: 0.5s ease-in-out;
}
.btn:hover,
.btn:focus {
  transform: scale(0.9);
}
.btn:active {
  transform: scale(1.1);
}

.btn:last-child {
  margin-top: 5px;
}
